<!-- insert the image URl in between the quotation marks, ex: <img src="INSERT IMAGE URL HERE"/> -->

<div id="rotator" style="left:-40px;top:-12px;z-index:50;">
  <ul>
    <li class="show">

    <img src="http://cdn.shopify.com/s/files/1/0040/1862/files/HomePageHolidays.jpg?1289331786"/>
    </li>
    <li>
    <img src="http://cdn.shopify.com/s/files/1/0040/1862/files/meandk1.jpg?1289331777"/>
    </li>
    <li> 
    <img src="http://cdn.shopify.com/s/files/1/0040/1862/files/Holidays20.jpg?1289331777"/>
    </li>
  </ul>
</div>


<!--<table width="995px">
<tr>
  <td><img src="http://cdn.shopify.com/s/files/1/0040/1862/files/web-homepageSplashbottom.jpg?1281627229" /></td>
  <td> &nbsp;&nbsp; </td>
  <td><img src="http://cdn.shopify.com/s/files/1/0040/1862/files/web-homepageSplashbottom.jpg?1281627229" /></td>
</tr>
</table>-->
