<div style="padding:30px 5px 20px 15px;"><b><a href="{{page.url}}" style="color:#000;font-size:15px;padding:5px 0 5px;">{{page.title | upcase}}</a></b></div>

<div class="article-body textile">
  {{ page.content }}
</div>